.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background-image: url(../images/geometric_confetti_border.png);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-color: rgb(247, 247, 247);
  background-position: left 50% bottom 50%;
  box-shadow: 0px 6px 9px 1px rgba(34, 60, 80, 0.2);
}

.logo {
  width: 120px;
}

.images {
  width: 120px;
  background-color: #ffffff;
}
