.container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 200px;
  background-color: rgb(247, 247, 247);
}

.link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.linkedin {
  background: center / contain no-repeat url(./images/linkedin.svg);
}

.github {
  background: center / contain no-repeat url(./images/github.svg);
}
