@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: 0.04em;
  user-select: none;

  margin: 0;
  background: #f1f2f7;
  background: linear-gradient(
    90deg,
    rgba(66, 58, 180, 1) 0%,
    rgba(29, 253, 141, 1) 50%,
    rgba(102, 152, 35, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
  -webkit-border-radius: 10px;
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(66, 58, 180, 1) 0%,
    rgba(29, 253, 141, 1) 50%,
    rgba(102, 152, 35, 1) 100%
  );
  -webkit-box-shadow: inset 0 0 6px rgba(31, 187, 70, 0.527);
}

/* цей блок під питанням, воно підтягується з нормалайза */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  overflow: hidden;
}
