.choose__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.move__container {
  display: block;
}

.move__button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  transition: filter ease-out 500ms, transform ease-out 500ms;
}
.move__button:hover {
  transform: scale(1.5, 1.5);
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

.rock__move {
  background: center / contain no-repeat url(../images/purple_rock.png);
}
.paper__move {
  background: center / contain no-repeat url(../images/sheet_of_paper.png);
}
.scissors__move {
  background: center / contain no-repeat url(../images/scissors.png);
}

.container {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}
.rules {
  margin-bottom: 30px;
}
